  <div class="large-12 columns text-right footer">
    <a href="/app" class="try-button">TRY NOW</a>
    <img class="logo-footer" src="/images/logo_bacon.png"/>
  </div>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
  <script type="text/javascript" src="/script.js"></script>

  </body>
</html>
