<% include partials/landing-header %> <!-- Notice the header file is different -->
<section class="large-12 columns intro-container" id="intro">
  <div class="large-10 large-centered columns">
      <div class="large-4 medium-4 columns">
        <img class="workflow" src="/images/workflow.png" alt="">
      </div>
      <div class="large-8 medium-8 columns">
        <h2 class="text-center"> Why build a portfolio? </h2>
        <p>A diverse portfolio is the best way to invest, whether you’re starting with pocket change or a hefty lump sum. And it’s not that complicated. Look at your goals, your timeline and your resilience to risk. The Bacon Portfolio Builder explains how each of these influence your asset allocation and suggests real-live portfolios based on it. Easy as that.
        </p>
      </div>
  </div>
</section>

<section class="large-12 columns container-1 js--waypoint-1">

    <div class="large-4 columns">
        <img src="/images/responsive.png" alt="">
        <div class="text-box">
          <h3>Responsive Design</h3>
          <p>We show you how your answers influence the type of portfolio that’s right for you.</p>
        </div>
    </div>

    <div class="large-4 columns">
        <img src="/images/idea.png" alt="">
        <div class="text-box">
          <h3>Clear Explanations</h3>
          <p>No bullshit explanations of risk categories and types of investments.</p>
        </div>
    </div>

    <div class="large-4 columns">
        <img src="/images/dyi.png" alt="">
        <div class="text-box">
          <h3>Learn how to DIY</h3>
          <p>Poach our asset allocation and do it yourself. We won’t mind.</p>
        </div>
    </div>


</section>

<% include partials/footer %>
